%div.jumbotron
  %h1 Anonimowe sekrety i wyznania
  %p.lead Anoon.pl to serwis w którym dyskretnie i bez obaw możesz podzielić się wyznaniami i sekretami.

-#%div.row
  %div.col-md-4
    %h3 Twoje sekrety są bezpieczne
    %p Nie przechowujemy żadnych danych, które mogą Cię zidentyfikować.
